body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6; /* altura da linha */
  font-size: 16px; /* tamanho da fonte */
  text-align: justify; /* alinhamento do texto */
}

head {
    background-color: #2c2c5c;
    border-bottom: 2px solid #647180;
    padding: 15px 0;
    text-align: center;
}
footer {
    background-color:#7A7373
    !important;
    text-align: center;
    padding: 15px 0;
}

header .fw-bold{
    font-size: 1.5rem;
    color: #030303;
}

nav a {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px;
    color: #131415;
    transition: color 0.3s ease-in-out;
}

nav a:hover{
    color: #1F2021;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #E7E7E7;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1C1C1C;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

p {
    font-size: 1rem;
    color: #111112;
    line-height: 1.6;
}

.img-personalizada {
    width: 100%;
    max-width: 1100px;
    height: auto;  
    display: block;  
    margin: 20px auto;  
}
.menu {
  position: relative;
  display: inline-block;
}

.menu-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-dash {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.3s;
}

.menu-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  min-width: 150px;
}

.menu-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-options li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.menu-options li:last-child {
  border-bottom: none;
}

.menu-options a {
  text-decoration: none;
  color: #333;
  display: block;
  transition: 0.3s;
}

.menu-options a:hover {
  background: #f1f1f1;
}


.menu.active .menu-options {
  display: block;
}

 .imagem-redonda {
  border-radius: 50% 20% / 10% 40%;;
  width: 220px;
}
.text-center {
  text-align: left;
  text-align: justify;
  text-align: right;
  line-height: 1.5rem;
  font-weight: normal;
  font-size: 13px;
}
